<div class="container">
  <div class="title-lps text-center">
    <h1>Les actualités du Parc Sauvage</h1>
  </div>

  <div class="cards-container">

    <% @blogposts.each do |blogpost| %>

      <div class="card-blogpost">

        <div class="card-blogpost-title text-center text-lg-left">
          <h2> <%= blogpost.title %> </h2>
        </div>

        <div class="row">

          <div class="col-xs-12 col-lg-6">
            <div class="card-image">
              <div class="text-center">
                <%= cl_image_tag blogpost.photo, class: "float-lg-left"%>
              </div>
            </div>
          </div>

          <div class="col-xs-12 col-lg-6">
            <div class="card-description text-center text-lg-left">
              <p> <%= blogpost.description[0..400] %>... </p>
            </div>
            <div class="text-center text-lg-left">
              <%= link_to "Lire la suite", blogpost_path(blogpost), class: "button button-transparent" %>
            </div>
          </div>

        </div>

        <div class="card-lign">
        </div>

      </div>
    <% end %>
  </div>
</div>

