// Import Google fonts
@import url("https://fonts.googleapis.com/css?family=Playfair+Display|https://fonts.googleapis.com/css?family=Open+Sans+Condensed:700|https://fonts.googleapis.com/css?family=Oswald:200|https://fonts.googleapis.com/css?family=Roboto:300,400|Raleway:400,100,300,700,500");

// Define fonts for body and headers
$body-font: 'Playfair Display', serif;
$headers-font: 'Open Sans Condensed', sans-serif;
$sub-headers-font: 'Oswald', sans-serif;

$font-size-base: 0.85rem;
$font-size-title: 2rem;
$font-size-subtitle: 1.5rem;

$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;

$green: #74b49b;
$light-green-10: lighten($green, 10%);
$dark-green: #395C56;

$grey: #818181;
$light-grey: #f2f2f2;
$medium-grey: #494A4A;
$dark-grey:  #2c2828;

h1 {
  font-family: $headers-font !important;
  color: $medium-grey !important;
  font-size: $font-size-title !important;
  letter-spacing: 2px !important;
}
h2 {
  font-family: $sub-headers-font !important;
  color: $grey !important;
  font-size: $font-size-subtitle !important;
  letter-spacing: 2px !important;
  font-weight: 200 !important;
}
p {
  font-family: $body-font !important;
  color: $dark-grey !important;
  font-size: $font-size-base !important;
}
a {
  font-family: $body-font !important;
  font-size: $font-size-base !important;
  letter-spacing: 2px !important;
}
