.title-lps {
  margin-bottom: 2rem;
}

.card-blogpost-title {
  margin: 2rem;
}

.card-blogpost-image img {
  border-radius: 4px;
  max-width: 100%;
  max-height: 20rem;
  display: block;
  margin: auto;
}

.card-blogpost-description {
 margin: 1rem 0.5rem;
}

.card-blogpost-lign {
  border-bottom: solid 1px $medium-grey;
  opacity: 0.4;
  margin: 2rem 10rem;
}

.blogpost-photo-lps {
  max-width: 100%;
  max-height: 30rem;
  border-radius: 4px;
  display: block;
  margin: auto;
}
