.banner-home {
  background-image: image-url("banner-owl.png");
  color: white;
  text-align: center;
  height: 100vh;
  background-size: cover !important;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  margin: 0 auto;
  float: none;
  margin-bottom: 10px;
  width: 16rem;
}

.card-img-top {
  width: 100%;
  height: 10rem;
  object-fit: cover;
}

.home-lps-images {
  padding: 0.75rem;
  max-width: 100%;
  max-height: 10rem;
  display: block;
  margin: auto;
}
