.pages-lps-container {
  p {
    font-size: 1rem;
  }
}

.pages-lps-images-container {
  margin: 1rem;
}

.partnerships-images-lps {
  padding: 1rem;
  max-width: 100%;
  max-height: 10rem;
  display: block;
  margin: auto;
}
