.pages-lps-images {
  padding: 1rem;
  max-width: 100%;
  max-height: 30rem;
  display: block;
  margin: auto;
}

.partnerships-images-lps {
  padding: 1rem;
  max-width: 80%;
  max-height: 10rem;
  display: block;
  margin: auto;
}