.pages-lps-container {
  p {
    font-size: 1rem;
  }
}

.pages-lps-images-container {
  margin: 1rem;
}

.pages-lps-images {
  padding: 0.75rem;
  max-width: 100%;
  max-height: 60rem;
  display: block;
  margin: auto;
}
