.schedules {
  $self: &;
  &--width {
  max-width: 43.75rem !important;
  }
  &__row {
    padding: 2.25rem 0;
    background-color: rgba($light-grey, 0.3);
    p {
      margin: 0;
    }
    &--grey {
      @extend #{ $self }__row;
      background-color: $light-grey;
    }
  }
}
