<p> Marie est passionnée par les animaux depuis son plus jeune âge, elle voit en eux de grands catalyseur sociaux et est passionné par leur contact, curieuse des différents modes de vie, caractères selon les espèces.</p>
