<p> Luc a toujours aimé les animaux, depuis petit il vis avec beaucoup d’animaux. C’est une passion qu’il peut enfin exercer et en apprendre encore plus sur les animaux. Pouvoir s’occuper des animaux et quelque chose qui lui tiens à cœur. Son objectif est que les animaux se sentent bien, propre et en sécurité dans leur environnement. </p>
