<p>C’est après un voyage humanitaire au Laos que Marine se découvre une passion pour les animaux sauvages ainsi que les rapaces, soucieuse de leur sauvegarde et de leur intégrité, fascinée par le vol leurs prestances, elle cherche alors une voie vers un métier qui s’en rapprocherait.</p>
