<p>Alexandre s’initie dès son plus jeune âge à la fauconnerie et devient rapidement l'un des plus jeune fauconnier de France. il s’intéresse à la reproduction et à l’élevage de ces derniers. Il conseille souvent sur les plateaux de télé et les tournages de films sur ses méthodes pédagogiques et techniques de dressage. </p>
