
<div class="container mt-5">

  <div class="row">
    <div class="col-sm-6 align-self-start d-flex justify-content-center">
      <h3 class="mb-3">Découvrez le nouveau <br> Parc Sauvage <br> de la Tour Blanche</h3>
    </div>
  </div>

  <div class="row">

    <div class="col-sm-6 align-self-start d-flex justify-content-center">
      <div class="feature-card">
        <%=link_to image_tag("rabbit.png"), pedagogical_farm_path, class: "feature-card-img" %>
        <h4>Ferme Pédagogique</h4>
      </div>
      <div class="feature-card">
        <%=link_to image_tag("eagle.png"), falconry_path, class: "feature-card-img" %>
        <h4>Fauconnerie</h4>
      </div>
    </div>

  </div>

  <div class="row">
    <div class="col-sm-6 align-self-start d-flex justify-content-center">
      <div class="feature-card">
        <%=link_to image_tag("goat.png"), vision_park_path, class: "feature-card-img" %>
        <h4>Parc de Vision</h4>
      </div>
      <div class="feature-card">
        <%=link_to image_tag("owl.png"), backup_center_path, class: "feature-card-img" %>
        <h4>Centre de Sauvegarde</h4>
      </div>
    </div>

  </div>

</div>
