
<div class="container mt-5">

  <div class="row">

    <div class="col-sm-6 align-self-start d-flex justify-content-center">
      <div class="feature-card">
        <%=link_to image_tag("rabbit.png"), pedagogical_farm_path, class: "feature-card-img" %>
        <h3>Ferme Pédagogique</h3>
      </div>
      <div class="feature-card">
        <%=link_to image_tag("eagle.png"), falconry_path, class: "feature-card-img" %>
        <h3>Fauconnerie</h3>
      </div>
    </div>

  </div>

  <div class="row">
    <div class="col-sm-6 align-self-start d-flex justify-content-center">
      <div class="feature-card">
        <%=link_to image_tag("goat.png"), vision_park_path, class: "feature-card-img" %>
        <h3>Parc de Vision</h3>
      </div>
      <div class="feature-card">
        <%=link_to image_tag("owl.png"), backup_center_path, class: "feature-card-img" %>
        <h3>Centre de Sauvegarde</h3>
      </div>
    </div>

  </div>

</div>
