<footer>
  <div class="footer-lps d-flex justify-content-between align-items-center">
    <div class="footer-lps__links d-flex">
      <%= link_to "https://www.instagram.com/circasvolerie/", target: "_blank", class: "d-flex justify-content-center align-items-center" do %>
        <i class="fab fa-instagram"></i>
      <% end %>
       <%= link_to "https://www.facebook.com/jack.parcsauvage.1?ref=br_rs", target: "_blank", class: "d-flex justify-content-center align-items-center align-items-center" do %>
        <i class="fab fa-facebook-f"></i>
      <% end %>
       <%= link_to "#", target: "_blank", class: "d-flex justify-content-center align-items-center align-items-center" do %>
        <i class="fab fa-twitter"></i>
      <% end %>
    </div>
    <div class="footer-lps__legalnotices text-center">
      <%= link_to "Mentions légales", "#" %>
    </div>
  </div>
</footer>
