<%= link_to "Lire la suite", "#", class: "button button-transparent" %>
<%= link_to "Découvrir", "#", class: "button button-green" %>

<h1 class="title">Les actualités du Parc Sauvage</h1>
<h1 class="subtitle">Titres des articles dans l'index</h1>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati eos asperiores maxime corrupti tenetur autem nemo maiores odio? Iure itaque id repellat ipsum! Magni sit voluptate animi quae saepe quasi.  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis enim id, corrupti numquam culpa! Voluptas cum neque eligendi dignissimos inventore! Voluptatibus sunt accusamus dolore et, sit doloremque quae repellat repudiandae!</p>
