<% content_for :meta_title, "Le Parc Sauvage - Volerie" %>
<% content_for :meta_description, "Le Parc Sauvage - Volerie" %>

<%= render(
  'shared/banner',
  img: "falconry.png",
  img_alt: "Volerie",
  img_title: "Volerie",
  title: "La Volerie du Parc Sauvage"
) %>

<div class="container text-justify">
  <%= render 'pages/pictures/cards', pictures: @pictures %> 
  <p>
    Nos oiseaux de proie vous accueilleront dans un parcours où vous pourrez découvrir ces animaux 
    surprenants. Nos fauconniers seront présents pour vous faire découvrir les prouesses des oiseaux 
    lors des présentations à 11h30 et lors de notre spectacle "Le Faucon Dérobé" à 16h 
    (sous réserve de 10 personnes sinon présentation pédagogique).
    <div class="row">
      <div class="col">
        <%= image_tag "falconry6.png", alt: "Volerie 6", title: "Volerie 6", class: "pages-lps-images pb-0"%>
        <p class="text-center">Aire de spectacle</p>
      </div>
    </div>
  </p>
  <p>
    <em>Les démonstrations et spectacles sont susceptibles d’être annulées ou modifiées en fonction des conditions climatiques.</em>
    <br><br>
    Démonstration à 11h30 et 16h.
  </p>
</div>
