<% content_for(:navbar_lps_class, "navbar-lps--transparent") %>
<% content_for(:div_below_navbar_lps_class, "d-none") %>

<div class="banner-home" style="height: 100vh;">

</div>

<% 100.times do  %>
  <div><p>hello</p></div>
<% end %>

