<% content_for :meta_title, "Le Parc Sauvage - Ferme pédagogique" %>
<% content_for :meta_description, "Le Parc Sauvage - Ferme pédagogique" %>

<div class="banner d-flex justify-content-center">
  <%= image_tag "pedagogical_farm.jpg", alt: "farm photo", title: "farm photo", class: "banner__image"%>
  <div class="banner__title text-center">
    <h1>La Ferme Pédagogique du Parc Sauvage</h1>
  </div>
</div>

<div class="container pages-lps-container text-justify">
  <p>
    <em>"Expliquer c'est déja comprendre pourquoi !"</em>
    <br>
    Nous vous accueillons dans un cadre adapté et encadré par une équipe de professionnels passionnés par l'environnement.
    <br> <br>
    <em>"Pas de question bête, nous vous répondrons"</em>
    <br>
    Nous sommes continuellement présents afin de répondre à vos questionnements, des panneaux pédagogiques se trouvent tout le long du parcours autour des animaux.
    Nous élevons ici des races peu courantes : Vache Dexter, Mouton d’Ouessant, Mouton Suffolk, Âne miniature, Cochon cul noir,...
    <br><br>
    Toucher, sentir, voir nos 20 races en immersion ou parc sous la surveillance de nos bergers australiens.
  </p>
</div>
