<% content_for :meta_title, "Le Parc Sauvage - Tarifs" %>
<% content_for :meta_description, "Le Parc Sauvage - Tarifs" %>

<div class="banner d-flex justify-content-center">
  <%= image_tag "prices.jpg", alt: "schedules photo", title: "schedules photo", class: "banner__image"%>
  <div class="banner__title text-center">
    <h1>Les tarifs du Parc Sauvage</h1>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-lg-6 mb-4">
      <div class="prices text-center">
        <h2>Individuel</h2>
        <div class="main-lign prices__lign"></div>
        <p><strong>Tarif adulte</strong></p>
        <p>À partir de 13 ans</p>
        <p class="pt-3"><strong>8,00€</strong></p>
        <div class="main-lign prices__lign"></div>
        <p><strong>Tarif enfant</strong></p>
        <p>3 à 12 ans</p>
        <p class="pt-3"><strong>5,00€</strong></p>
        <div class="main-lign prices__lign"></div>
        <p>Gratuit pour les moins de 3 ans</p>
      </div>
    </div>
    <div class="col-xs-12 col-lg-6 mb-4">
      <div class="prices text-center">
        <h2>Groupe</h2>
        <div class="main-lign prices__lign"></div>
        <p><strong>À partir de 10 personnes</strong></p>
        <p class="pt-3">Par personne</p>
        <p><strong>3,50€</strong></p>
        <p class="pt-3">Par accompagnateur</p>
        <p><strong>2,00€</strong></p>
        <div class="main-lign prices__lign"></div>
        <p><strong>Visite guidée</strong></p>
        <p>12 personnes maximum</p>
        <p>Durée: 45 minutes</p>
        <p class="pt-3"><strong>50,00€ par groupe</strong></p>
      </div>
    </div>
    <div class="col">
      <div class="prices text-center">
        <h2>Sur réservation</h2>
        <div class="main-lign prices__lign"></div>
          <p><strong> Stages de découverte de la fauconnerie (comprenant entrée et spectacle)</strong></p>
          <p>À partir de 10 ans</p>
          <p>Durée: 2 heures</p>
          <p class="pt-3"><strong>70,00€ par personne</strong></p>
      </div>
    </div>
  </div>
</div>
