<% content_for :meta_title, "Le Parc Sauvage - Tarifs" %>
<% content_for :meta_description, "Le Parc Sauvage - Tarifs" %>

<%= render(
  'shared/banner',
  img: "prices.jpg",
  img_alt: "Tarifs",
  img_title: "Tarifs",
  title: "Les tarifs 2019 du Parc Sauvage"
) %>

<div class="container">
  <div class="row">
    <div class="col-sm-12 col-lg-6 d-flex">
      <div class="grey-card shadow text-center">
        <h2>Individuel</h2>
        <div class="main-lign grey-card__lign"></div>
        <p class="font-size-subtitle"><strong>Tarifs</strong></p>
        <p class="mt-3">À partir de 3 ans</p>
        <p class="font-size-subtitle"><strong>5,00€</strong></p>
        <p class="mt-3">À partir de 12 ans</p>
        <p class="font-size-subtitle"><strong>8,00€</strong></p>
        <div class="main-lign grey-card__lign"></div>
        <p>Gratuit pour les moins de 3 ans</p>
      </div>
    </div>
    <div class="col-sm-12 col-lg-6 d-flex">
      <div class="grey-card shadow text-center">
        <h2>Groupe</h2>
        <div class="main-lign grey-card__lign"></div>
        <p class="font-size-subtitle"><strong>À partir de 10 personnes</strong></p>
        <p>Par personne</p>
        <p class="font-size-subtitle"><strong>5,00€</strong></p>
        <p class="mt-3">Par accompagnateur</p>
        <p class="font-size-subtitle"><strong>2,00€</strong></p>
        <p class="mt-3">Sur réservation : </p>
        <p>Animation nourrissage des animaux de la ferme 20 min</p>
        <p>OU</p>
        <p>Régime alimentaire des animaux ou sur mesure 45 min </p>
        <p class="font-size-subtitle"> <strong> 40,00€ par groupe de 15 </strong></p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="grey-card shadow text-center">
        <h2>Sur réservation</h2>
        <div class="main-lign grey-card__lign"></div>
        <p class="font-size-subtitle"> <strong>Stage volerie</strong></p>
        <p>Au Programme : découverte des oiseaux, pesée, nourrissage, soins, démonstration et « surprise »</p>
        <p class="mt-3">À partir de 12 ans</p>
        <p>Durée: 2 heures</p>
        <p class="font-size-subtitle mt-3"><strong>70,00€</strong></p>
        <p>Par personne (entrée et spectacle compris)</p>
        <div class="main-lign grey-card__lign"></div>
        <p class="font-size-subtitle"><strong>Visite guidé</strong></p>
        <p class="mt-3">Sur réservation à l’avance ou à l’entrée en fonction des disponibilités</p>
        <p>12 personnes maximum</p>
        <p>Durée: durée 1h30</p>
        <p class="font-size-subtitle mt-3"><strong>10,00€<strong></p>
        <p>Par personne</p>
        <div class="main-lign grey-card__lign"></div>
        <p class="font-size-subtitle"><strong>Demi journée soigneur (animaux de la ferme)</strong></p>
        <p class="mt-3">Sur réservation</p>
        <p>De 9h à 12h (comprenant entrée parc et démonstration fauconnerie)</p>
        <p>Préparation des rations et nourrissages des animaux, soins des animaux,…</p>
        <p>À partir de 12 ans</p>
      </div>
    </div>
  </div>
</div>
