<% content_for :meta_title, "Le Parc Sauvage - Tarifs" %>
<% content_for :meta_description, "Le Parc Sauvage - Tarifs" %>

<%= render(
  'shared/banner',
  img: "prices.jpg",
  img_alt: "Tarifs",
  img_title: "Tarifs",
  title: "Les tarifs du Parc Sauvage"
) %>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-lg-6 d-flex">
      <div class="grey-card text-center">
        <h2>Individuel</h2>
        <div class="main-lign grey-card__lign"></div>
        <p>
          <strong>Tarif adulte</strong>
          <br>
          À partir de 13 ans
          <br><br>
          <strong>8,00€</strong>
        </p>
        <div class="main-lign grey-card__lign"></div>
        <p>
          <strong>Tarif enfant</strong>
          <br>
          3 à 12 ans
          <br><br>
          <strong>5,00€</strong>
        </p>
        <div class="main-lign grey-card__lign"></div>
        <p>Gratuit pour les moins de 3 ans
        <br>Tarification unique à 5,00€ en 2019</p>
      </div>
    </div>
    <div class="col-xs-12 col-lg-6 d-flex">
      <div class="grey-card text-center">
        <h2>Groupe</h2>
        <div class="main-lign grey-card__lign"></div>
        <p>
          <strong>À partir de 10 personnes</strong>
          <br><br>
          Par personne
          <strong>3,50€</strong>
          <br><br>
          Par accompagnateur
          <strong>2,00€</strong>
        </p>
        <div class="main-lign grey-card__lign"></div>
        <p>
          <strong>Visites guidées à partir de 2020</strong>
          <br>
          12 personnes maximum
          <br>
          Durée: 45 minutes
          <br><br>
          <strong>50,00€ par groupe</strong>
        </p>
      </div>
    </div>
    <div class="col d-flex">
      <div class="grey-card text-center">
        <h2>Sur réservation</h2>
        <div class="main-lign grey-card__lign"></div>
          <p>
            <strong> Stages de découverte de la fauconnerie (comprenant entrée et spectacle) à partir de 2020</strong>
            <br>
            À partir de 10 ans
            <br>
            Durée: 2 heures
            <br><br>
            <strong>70,00€ par personne</strong>
          </p>
      </div>
    </div>
  </div>
</div>
