<% content_for :meta_title, "Le Parc Sauvage - Horaires" %>
<% content_for :meta_description, "Le Parc Sauvage - Horaires" %>

<%= render(
  'shared/banner',
  img: "schedules.jpg",
  img_alt: "Horaires",
  img_title: "Horaires",
  title: "Les horaires du Parc Sauvage"
) %>

<div class="container schedules--width">
  <div class="schedules--shadow">
    <div class="row schedules__row--grey mx-auto align-items-center">
      <div class="col-xs-12 col-lg-6">
        <p><strong>De novembre à mars</strong></p>
      </div>
      <div class="col-xs-12 col-lg-6">
        <p>
          Du jeudi au dimanche de 10h à 16h30.
          <br>
          Démonstration à 15h.
        </p>
      </div>
    </div>
    <div class="row schedules__row mx-auto align-items-center">
      <div class="col-xs-12 col-lg-6">
        <p><strong>D'avril à juin - De mars à octobre</strong></p>
      </div>
      <div class="col-xs-12 col-lg-6">
        <p>
          Tous les jours de 10h à 18h.
          <br>
          Démonstrations à 11h15 et 15h.
        </p>
      </div>
    </div>
    <div class="row schedules__row--grey mx-auto align-items-center">
      <div class="col-xs-12 col-lg-6">
        <p><strong>De juillet à août</strong></p>
      </div>
      <div class="col-xs-12 col-lg-6">
        <p>
          Tous les jours de 9h10 à 18h.
          <br>
          Démonstrations à 11h00, 14h30 et 17h.
        </p>
      </div>
    </div>
  </div>
  <div class="row mx-auto">
    <div class="col mt-4">
      <p>
        Les caisses ferment 1 heure avant la fermeture complète du parc.
        <br>
        Les démonstrations auront lieu à partir de 2020 et sont susceptibles d’être annulées en fonction des conditions climatiques.
      </p>
    </div>
  </div>
</div>
