<% content_for :meta_title, "Le Parc Sauvage - Horaires" %>
<% content_for :meta_description, "Le Parc Sauvage - Horaires" %>

<%= render(
  'shared/banner',
  img: "schedules.jpg",
  img_alt: "Horaires",
  img_title: "Horaires",
  title: "Les horaires du Parc Sauvage"
) %>

<div class="container schedules--width">
  <div class="shadow">
    <div class="row schedules__row--grey mx-auto align-items-center">
      <div class="col-sm-12 col-lg-6">
        <p><strong>De novembre à mars</strong></p>
      </div>
      <div class="col-sm-12 col-lg-6">
        <p>
          Sur rendez vous pour les individuels et groupes.
          <br>
          Pas de démonstration programmé seul des entrainements.
        </p>
      </div>
    </div>
    <div class="row schedules__row mx-auto align-items-center">
      <div class="col-sm-12 col-lg-6">
        <p><strong>D'avril à juin - De septembre à octobre</strong></p>
      </div>
      <div class="col-sm-12 col-lg-6">
        <p>
          Du Mercredi au dimanche de 10h à 18h.
          <br>
          Dernière entrée 1 h avant la fermeture.
          <br><br>
          Démonstrations à 11h00 et 16h30.
          <br>
          Goûter des animaux à 15h00.
          <br><br>
          Fermé lundi et mardi sauf les jours fériés.
        </p>
      </div>
    </div>
    <div class="row schedules__row--grey mx-auto align-items-center">
      <div class="col-sm-12 col-lg-6">
        <p><strong>De juillet à août et vacances scolaires toutes zones</strong></p>
      </div>
      <div class="col-sm-12 col-lg-6">
        <p>
          Tous les jours de 10h à 18h.
          <br>
          Dernière entrée 1 h avant la fermeture.
          <br> <br>
          Démonstrations à 11h00 et 16h30.
          <br>
          Goûter des animaux à 15h00.
        </p>
      </div>
    </div>
  </div>
  <div class="row mx-auto">
    <div class="col mt-4">
      <p>
        Les caisses ferment 1 heure avant la fermeture complète du parc.
        <br>
        Les démonstrations sont susceptibles d’être annulées ou modifiées en fonction des conditions climatiques.
      </p>
    </div>
  </div>
</div>
