<% content_for :meta_title, "Le Parc Sauvage - Notre équipe" %>
<% content_for :meta_description, "Le Parc Sauvage - Notre équipe" %>

<%= render(
  'shared/banner',
  img: "team_page.png",
  img_alt: "Equipe",
  img_title: "Equipe",
  title: "L'Équipe du Parc Sauvage"
) %>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-xs-12 col-sm-6 col-lg-3 d-flex">
      <div class="card team-card shadow bg-white rounded mb-4 flex-fill">
        <%= image_tag "alexandre.png", alt: "Alexandre", title: "Alexandre", class: "card-img-top"%>
        <div class="card-body">
          <div class="card-title">
            <h2>Alexandre</h2>
          </div>
          <div class="card-text">
            <p>Fondateur et directeur du Parc Sauvage</p>
          </div>
        </div>
        <div class="team-card-infos d-none d-md-block">
            <p>Alexandre Duguet Hurlin s’initie dès son plus jeune âge à la fauconnerie et devient rapidement le plus jeune fauconnier de France. Cette passion l’a conduit à s’intéresser à la reproduction et à l’élevage de ces derniers et fait parti du groupement et de la Fédération Internationale de Fauconnerie. Il conseille souvent sur les plateaux de télé et les tournages de films pour ses méthodes pédagogiques et techniques de dressage. </p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-lg-3 d-flex">
      <div class="card team-card shadow bg-white rounded mb-4 flex-fill">
        <%= image_tag "alexandre.png", alt: "Alexandre", title: "Alexandre", class: "card-img-top"%>
        <div class="card-body">
          <div class="card-title">
            <h2>Marine</h2>
          </div>
          <div class="card-text">
            <p>Volontaire en Service Civique</p>
          </div>
        </div>
        <div class="team-card-infos d-none d-md-block">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa quaerat ut non illum in, accusamus reiciendis libero harum repellat dolorum eligendi nesciunt expedita animi praesentium. Soluta nostrum corporis, placeat sunt.</p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-lg-3 d-flex">
      <div class="card team-card shadow bg-white rounded mb-4 flex-fill">
        <%= image_tag "alexandre.png", alt: "Alexandre", title: "Alexandre", class: "card-img-top"%>
        <div class="card-body">
          <div class="card-title">
            <h2>Luc</h2>
          </div>
          <div class="card-text">
            <p>Volontaire en Service Civique</p>
          </div>
        </div>
        <div class="team-card-infos d-none d-md-block">
          <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque voluptas inventore ad ipsam, commodi esse a quas, saepe veniam quia fuga ex dicta sequi quasi numquam nemo hic! Nobis, optio? </p>
        </div>
      </div>
    </div>
  </div>
</div>
