<% content_for :meta_title, "Le Parc Sauvage - Parc de vision" %>
<% content_for :meta_description, "Le Parc Sauvage - Parc de vision" %>

<%= render(
  'shared/banner',
  img: "vision_park.png",
  img_alt: "Parc de vision",
  img_title: "Parc de vision",
  title: "Le parc de vision du Parc Sauvage - nouveauté 2021"
) %>

<div class="container text-justify">
  <%= render 'pages/pictures/cards', pictures: @pictures %> 
  <p>
    Notre nouveauté 2021, le Parc de Vision, saura vous surprendre avec la présence d'animaux tels que des cerfs, daims et wallaby, qui sont à découvrir en liberté sur un chemin de 1,5 km accessible à tous.
  </p>
</div>
