<% content_for :meta_title, "Le Parc Sauvage - Parc de vision" %>
<% content_for :meta_description, "Le Parc Sauvage - Parc de vision" %>

<%= render(
  'shared/banner',
  img: "vision_park.png",
  img_alt: "Parc de vision",
  img_title: "Parc de vision",
  title: "Le parc de vision du Parc Sauvage - nouveauté 2021"
) %>

<div class="container text-justify">
  <p>
    Notre nouveauté 2021, le Parc de Vision, saura vous surprendre avec la présence d’animaux tels que des cerfs, daims et wallaby, qui sont à découvrir en liberté sur un chemin de 1,5 km accessible à tous..
    <br><br>
    Une visite guidée à 10h30 (20 minutes) est proposée au prix de 1€ par personne (gratuit pour les moins de 3 ans).
  </p>
  <div class="row">
    <div class="col-sm-12 col-md-6">
      <%= image_tag "vision_park5.png", alt: "Parc de vision 5", title: "Parc de vision 5", class: "pages-lps-images"%>
      <p class="text-center">Daim</p>
    </div>
    <div class="col-sm-12 col-md-6">
      <%= image_tag "vision_park6.png", alt: "Parc de vision 6", title: "Parc de vision 6", class: "pages-lps-images"%>
      <p class="text-center">Cerf Sika</p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <%= image_tag "vision_park7.png", alt: "Parc de vision 7", title: "Parc de vision 7", class: "pages-lps-images"%>
      <p class="text-center">Abby - Wallaby</p>
    </div>
  </div>
</div>
