<% content_for :meta_title, "Le Parc Sauvage - Parc de vision" %>
<% content_for :meta_description, "Le Parc Sauvage - Parc de vision" %>

<div class="banner d-flex justify-content-center">
  <%= image_tag "vision_park.jpg", alt: "vision park photo", title: "vision park photo", class: "banner__image"%>
  <div class="banner__title text-center">
    <h1>Le parc de vision du Parc Sauvage - ouverture 2021 </h1>
  </div>
</div>

<div class="container pages-lps-container">
  <p>
    Un parc de vision où vous pourrez rencontrer cerfs, biches, chevreuils, daims en contact direct mais également des enclos pour découvrir renards, blaireaux, putois, cerf, faisan…
    <br>
    En résumé, la plupart des animaux de nos forêts a découvrir sur 1,5 km de chemins accessibles à tous.
  </p>


   <div class="pages-lps-images-container">

    <div class="row">
      <div class="col">
      <%= image_tag "vision_park1.jpg", alt: "vision park", title: "vision park", class: "pages-lps-images"%>
      </div>
    </div>

  </div>

</div>
