.dropdown-toggle::after {
  vertical-align: 0.125em;
}

.card-img-top {
  height: 10rem;
  object-fit: cover;

  &--padding {
    padding: 0.75rem
  }

  &--border-radius {
    border-radius: 0.85rem;
  }
}

.card-body, .card-title, .card-text {
  text-align: center;
}

.container {
  margin-bottom: 2rem;
}
