.mb-32 {
  margin-bottom: 2em;
}

.mw-md-50 {
  max-width: 50% !important;
}

.w-md-50 {
  width: 50% !important;
}

@include media-breakpoint-down(sm) {
  .mw-md-50 {
    max-width: 100% !important
  }

  .w-md-50 {
    width: 100% !important;
  }
}
