.button {
  padding: 8px 15px 7px 15px;
  border-radius: 50px;
  font-family: $classic-sans-serif-font;
  margin: 4px;
  display: inline-block;
  font-size: 14px;
  letter-spacing: 2px;
  font-weight: 300;

  &:hover {
  text-decoration: none !important;
  }
}

.button-simple {
  color: $gray-title-and-body !important;
  border: 1px solid $gray-title-and-body;
  opacity: 0.6;
  background: transparent;

  &:hover {
  opacity: 1;
  color: $dark-gray;
  }
}

.button-green {
  color: $light-gray;
  border: 1px solid $green-parc;
  background: $green-parc;

  &:hover {
  color: $green;
  }
}


