.button {
  padding: 8px 15px 7px 15px;
  border-radius: 50px;
  font-family: $sub-headers-font;
  margin: 4px;
  display: inline-block;
  font-size: 14px;
  letter-spacing: 2px;
  font-weight: 300;

  &:hover {
  text-decoration: none;
  }
}

.button-transparent {
  color: $medium-grey;
  border: 1px solid $medium-grey;
  opacity: 0.6;
  background: transparent;

  &:hover {
  opacity: 1;
  color: $dark-grey;
  }
}

.button-green {
  color: $light-gray;
  border: 1px solid $dark-green;
  background: $dark-green;

  &:hover {
  color: $green;
  }
}


