footer {
  margin-top: 3rem;
}

.footer-lps {
  background-color: $dark-green;
  height: 4.5rem;
  width: 100%;
  padding: 0 2rem;
  position: absolute;
  bottom: 0;
  &__links a {
    color: $dark-green;
    background-color: white;
    margin: 0 0.375rem;
    width: 3.25rem;
    height: 3.25rem;
    border-radius: 3.25rem;
    font-size: 1.5rem;
    &:hover {
      color: white;
      background-color: $green;
      box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
      text-decoration: none;
    }
  }
  &__legalnotices {
    a {
      color: white;
      opacity: 0.8;
      cursor: pointer;
      font-size: 0.75rem;
      &:hover {
        color: white;
        opacity: 1;
        text-decoration: none;
      }
    }
  }
}
