.grey-card {
  background-color: $light-grey;
  padding: 2.5rem 1rem;
  flex: 1 0 auto;
  margin-bottom: 1.5rem;
  &__lign {
    margin: 2rem 5rem;
  }
  p {
    font-size: 1rem !important;
    margin: 0;
  }
}
