.main-container {
  min-height: 100vh;
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 4.5rem;
}

.main-title {
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.main-lign {
  border-bottom: solid 1px $medium-grey;
  opacity: 0.4;
}

@media (max-width: 575.98px) {
  .container {
    padding: 0 2rem !important;
  }
}
