html {
  height: 100%;
}

body {
  min-height: 100vh;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  -ms-justify-content: space-between;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

.main-title {
  margin-top: 3rem;
  margin-bottom: 2rem;
  text-align: center;
}

.main-lign {
  border-bottom: solid 1px $medium-grey;
  opacity: 0.4;
}

@media (max-width: 575.98px) {
  .container {
    padding: 0 2rem !important;
  }
}
