 // Main navbar
.navbar-lps {
  width: 100%;
  padding: 0 2rem;
  position: fixed;
  top: 0;
  background: $dark-green;
  box-shadow: 0 2px 15px rgba($grey, 0.4);
  z-index: 500;
  transition: all 0.3s ease;
  &--height {
    height: 4.5rem;
  }
  &__logo img {
    position: absolute;
    top: 0;
    height: 4rem;
    z-index: 500;
  }
  &--transparent {
    background: transparent;
    box-shadow: none;
  }
  &--green {
    box-shadow: 0 2px 15px rgba($grey, 0.4);
    background-color: $dark-green;
  }
}

// navbar for desktop
.navbar-lps {
  $self: &;
  &__link {
    color: white;
    line-height: 4.5rem;
    padding: 0 1rem;
    @media (max-width: 991.98px) {
      padding: 0 0.6rem;
    }
    cursor: pointer;
    &:hover {
      background-color: $green;
      color: white;
      text-decoration: none;
    }
    &:not([href]):not([tabindex]) {
      color: white;
    }
  }
  &__dropdown {
    position: relative;
    &:hover {
      background-color: $green;
      color: white;
      text-decoration: none;
    }
    &:hover .navbar-lps__content {
      display: block;
    }
    #{ $self }__content {
      background-color: $green;
      display: none;
      position: absolute;
      width: 15.5rem;
      &--left {
        @extend #{ $self }__content;
        left: -90px;
      }
      #{ $self }__sublink {
        color: white;
        cursor: pointer;
        line-height: 3rem;
        padding-left: 1.25rem;
        display: block;
        &:hover {
          height: 100%;
          width: 100%;
          text-decoration: none;
          background-color: $light-green-10;
        }
      }
    }
  }
}

// navbar for mobile
.navbar-lps-mobile {
  $self: &;
  &__menu {
    color: white;
    padding: 0 10px;
    #{ $self }__hamburger {
      width: 2rem;
      height: 1.25rem;
      position: absolute;
      top: 1.25rem;
      right: 2rem;
      z-index: 500;
      div {
        width: 100%;
        height: 0.125rem;
        margin-top: 0.375rem;
        background-color: white;
        -webkit-transition: all .5s ease-in-out;
                transition: all .5s ease-in-out;
      }
    }
    #{ $self }__wrapper{
      position: fixed;
      top: -100%;
      left: 0;
      right: 0;
      bottom: 0;
      height: 0;
      overflow: hidden;
      z-index: 100;
      -webkit-transition: all .5s ease-in-out;
              transition: all .5s ease-in-out;
      #{ $self }__items {
        height: 100vh;
        width: 100vw;
        z-index: 500;
        #{ $self }__link{
          color: white;
          font-size: 1.25rem;
          width: 100%;
          line-height: 3.25rem;
          &:hover {
            text-decoration: none;
          }
        }
        #{ $self }__dropdown {
          position: relative;
          #{ $self }__content{
            background-color: $green;
            width: 100vw;
            #{ $self }__sublink {
              color: white;
              line-height: 3rem;
              display: block;
              &:hover {
                height: 100%;
                width: 100%;
                text-decoration: none;
                background-color: $light-green-10;
              }
            }
          }
        }
      }
    }
  }
}

/* Hamburger Animation */
#toggle {
  display: none;
}

#toggle:checked + .navbar-lps-mobile__hamburger {
  .navbar-lps-mobile__top {
    margin-top: 1.375rem;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .navbar-lps-mobile__middle {
    margin-top: -0.125rem;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .navbar-lps-mobile__bottom {
  -webkit-transform: scale(0);
          transform: scale(0);
  }
  + .navbar-lps-mobile__wrapper {
    top: 0;
    height: 100vh;
    background-color: $dark-green;
  }
}
