.team-card {
  position: relative;
  overflow: hidden;
}

.team-card-infos {
  position: absolute;
  bottom: 0;
  background: white;
  padding: 1rem;
}
.team-card-infos-small-devices {
 padding: 0 1rem;
}

.team-card-infos {
  transform: translateY(100%);
  transition: ease 400ms all;
}
.team-card:hover {
  .team-card-infos {
    transform: translateY(0%);
  }
}

