// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import 'formadmin/formadmin';

// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }

.cke_chrome {
  width: 79.5% !important;
  overflow: hidden;
}

.active_admin {
  th {
    padding-right: 1rem;
  }
  img {
    max-width: 200px;
  }
  button {
    margin-left: 20px;
  }
  a {
    &.edit_link,
    &.delete_link {
      margin-top: 5px;

    }
  }
  .index_total {
    font-size: 24px;
    margin-bottom: 20px;
  }
  @media(min-width:767px) {
    #filters_sidebar_section {
      margin-top: 48px;
    }
  }
  #sidebar {
    margin-top: 0px !important;
  }
  #user_password_input
    abbr {
      display: none;
    }
}
